  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=@list.movies.first&.poster_url || "http://everpresent.com/wp-content/uploads/2016/05/IMG_3853.jpg" %>)">
    <h1><%= @list.name.capitalize %></h1>
  </div>
<div class="container">
  <h3>Movies</h3>
  <% @list.movies.each do |movie| %>
    <%= movie.title %>
    <br>
    <%= movie.overview %>
    <br>
    <%= movie.rating %>
    <br>
    <%= movie.poster_url %>
  <% end %>
  <br>
  <%= link_to 'All Lists', lists_path %>
  <br>
  <%= link_to 'Create New Bookamrk', new_list_bookmark_path(@list) %>
</div>
